.venv
.uv
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so

.git
.gitignore
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage

.env
.env.*
logs
uploads
volumes
*.log
*.pid
*.tmp

super_biz_agent_py.egg-info
dist
build

.vscode
.idea
Thumbs.db
.DS_Store
